  body {
    background-color:#131313;
    font-family:   Arial, sans-serif;
    
  }


  .menu_bar{
    background-color: #2D2D2D;
    /* 
    margin: 1vw;
    */ 
    padding-right: 1vw;
    border: 1vw;
    border-radius: 6px;


    /*
    padding-left: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw; 
    */
  }
  
  h1{
    font-size: 20px;
  }

  .menu_button{
    background-color: #2D2D2D;
    border-style: none;
    /*
    border: #1275E9 solid 7px; 
    */
    padding: 10px;
    border-radius: 6px;
    color: #BFBFBF;
    font-size: 32px;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    cursor:pointer;
  }

  .menu_button:hover {
    transition: 0.4s;
    background-color: #434343;
  }

  #about_button:hover{
    transition: 0.3s;
    color: #1275E9;
  }
  #projects_button:hover{
    transition: 0.3s;
    color: #E52749;
  }
  #contact_button:hover{
    transition: 0.3s;
    color: #31cb2f;
  }



  #github_link{
    color: #1275E9;
    text-decoration: none;
  }
  #gmail{
    color: #BFBFBF;
    text-decoration: none;
  }
  #itch_io_link{
    color: #E52749;
    text-decoration: none;
  }
  #youtube_link{
    color: #E52749;
    text-decoration: none;
  }
  #discord{
    color: #1275E9;
    text-decoration: none;
  }

  .wrapper{
    
      background-color: rgb(15, 15, 15);
      border-radius: 6px;
    /**/

    font-size: 24px;
    text-align: center;
    color: #dadada;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;

  }

  .profile_wrapper{
    margin: 0;
  }

  .name{
    margin-top:5px;
  }

  .about_text{    
    width: 70%;
    margin: auto;
  }

  .projects_title{    
    width: 70%;
    margin: auto;
    font-size: 30px;
  }

  .itch_io_game{
    border-radius: 12px;
  }

  /*
    .github_project{
      
    }
  */

  .profile_picture{
    border-radius: 100px;
    width: 180px; 
    height: 180px; 
    image-rendering:optimizeQuality;
  }

