body {
    background-color: black;
  }
  
  h1 {
    color: navajowhite;
    margin-left: 20px;
  }
  p{ 
    color:navajowhite;
  }
  img{
    width: 192px;
    height: 192px;
    border-radius: 50%; 
}
      

  